$fontLarge: clamp(1.25rem, 0.9797rem + 1.3514vw, 2.5rem);
$fontMedium: clamp(1rem, 0.5135rem + 2.1622vw, 2rem);
$fontSmall: clamp(0.875rem, 0.7939rem + 0.4054vw, 1.25rem);
$fontForm: 26px;

$fontHeadingType: "Archivo", Arial, Helvetica, sans-serif;
$fontBodyType: "Railway", Arial, Helvetica, sans-serif;

h1 {
  font-size: $fontLarge;
  text-transform: uppercase;
  font-family: "Archivo";
  padding: 15px;
}
h2 {
  font-family: "Archivo";
  font-size: $fontMedium;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
a {
  text-decoration: none;
}
.boldp {
  font-weight: 600;
}
.uppercapP {
  text-transform: uppercase;
}
h3 {
  font-family: "Archivo";
  font-size: clamp(1rem, 0.9459rem + 0.2703vw, 1.25rem);
  text-transform: uppercase;
}
h4 {
  letter-spacing: 0.1rem;
}

p,
input,
h4,
label,
button {
  font-family: $fontBodyType;
  font-size: clamp(0.75rem, 0.6959rem + 0.2703vw, 1rem);
}

html {
  --arrowInput: #9b001a;
  --boxShadow: rgba(255, 255, 255, 0.05);
  --devButtonColor: white;
  --devButtonColorHover: hsl(0, 23%, 95%);
  --devButtonTextColor: black;
  --shoppingCartItem: rgb(243, 242, 242); 
  --documentTextColor: black;
  --frontPageImage1900: url("../../../public//assets/images/landingPageImages/titleCard/0071600.webp");
  --frontPageSectionBackground: white;
  --landingPageBoxBackgroundColor: white;
  --landingPageBoxColor: white;
  --navColorBackground: white;
  --navColorButtonHover: hsl(0, 23%, 95%);
  --navSiteTextColor: Black;
  --sidebarIcons: #9b001a;
  --sideMenucolor: whitesmoke;
  --productSliderSection: white;
  --featuredCategoriesSection: white;
  --infoCommericalTextBackgroundColor: #9b001a;
  --footerBackgroundColor: black;
}

html[data-theme="black"] {
  --arrowInput: goldenrod;
  --shoppingCartItem:#212121; 
  --boxShadow: white;
  --devButtonColor: #212121;
  --devButtonColorHover: #0a0a0a;
  --devButtonTextColor: white;
  --documentTextColor: white;
  --frontPageImage1900: url("../../../public/assets/images/landingPageImages/titleCard/blackBackground.jpg");
  --landingPageBoxColor: black;
  --navColorBackground: white;
  --navSiteTextColor: black;
  --sidebarIcons: #0a0a0a;
  --sideMenucolor: black;
  --productSliderSection: #212121;
  --featuredCategoriesSection: #212121;
  --infoCommericalTextBackgroundColor: #212121;
  --footerBackgroundColor: black;
}
html[data-theme="violet"] {
  --arrowInput: white;
  --boxShadow: white;
  --devButtonColor: rgb(60, 6, 69);
  --devButtonTextColor: white;
  --documentTextColor: white;
  --frontPageImage1900: url("../../../public/assets/images/landingPageImages/titleCard/download.jpg");
  --landingPageBoxColor: rgb(60, 6, 69);
  --navColorBackground: white;
  --navSiteTextColor: black;
  --sidebarIcons: rgb(148, 85, 244);
  --sideMenucolor: rgb(206, 162, 198);
  --productSliderSection: rgb(44, 5, 49);
  --featuredCategoriesSection: rgb(44, 5, 49);
  --infoCommericalTextBackgroundColor: rgb(60, 6, 69);
  --footerBackgroundColor: rgb(60, 6, 69);
}
html[data-theme="indigo"] {
  --devButtonColor: rgb(74, 43, 122);
  --navColorBackground: white;
  --sideMenucolor: rgb(148, 85, 244);
  --documentTextColor: white;
  --navSiteTextColor: Black;
  --devButtonTextColor: white;
  --frontPageImage1900: url("../../../public/assets/images/landingPageImages/titleCard/indigeo.jpg");
  --footerBackgroundColor: rgb(44, 5, 49);
}
html[data-theme="blue"] {
  --devButtonColor: rgb(5, 5, 49);
  --navColorBackground: white;
  --sideMenucolor: #006cbe;
  --shoppingCartItem:#006cbe; 
  --documentTextColor: white;
  --devButtonTextColor: white;
  --frontPageImage1900: url("../../../public/assets/images/landingPageImages/frontPageBanners/blueLanding.jpg");
  --landingPageBoxColor: rgb(5, 5, 49);
  --sidebarIcons: rgb(31, 1, 130);
  --sideMenucolor: rgb(31, 1, 130);
  --productSliderSection: rgb(5, 5, 49);
  --featuredCategoriesSection: rgb(5, 5, 49);
  --infoCommericalTextBackgroundColor: rgb(5, 5, 49);
}
html[data-theme="green"] {
  --devButtonColor: rgb(15, 39, 14);
  --navColorBackground: white;
  --navIconBackgroundColor: rgb(15, 39, 14);
  --sideMenucolor: rgb(15, 39, 14);
  --devButtonTextColor: white;
  --documentTextColor: white;
  --landingPageBoxColor: rgb(15, 39, 14);
  --sidebarIcons: green;
  --sideMenucolor: green;
  --productSliderSection: rgba(3, 48, 3, 0.767);
  --featuredCategoriesSection: rgb(15, 39, 14);
  --infoCommericalTextBackgroundColor: rgb(15, 39, 14);
  --frontPageImage1900: url("../../../public/assets/images/landingPageImages/titleCard/greenbackground.jpg");

}
html[data-theme="orange"] {
  --devButtonColor: rgb(150, 63, 17);
  --navColorBackground: white;
  --sideMenucolor: orange;
  --devButtonTextColor: white;
  --documentTextColor: white;
  --landingPageBoxColor: rgb(150, 63, 17);
  --sidebarIcons: orange;
  --sideMenucolor: orange;
  --productSliderSection: rgb(235, 154, 25);
  --featuredCategoriesSection: rgb(150, 63, 17);
  --infoCommericalTextBackgroundColor: rgb(235, 154, 25);
  --frontPageImage1900: url("../../../public/assets/images/landingPageImages/titleCard/orangeBackground.jpg");
}
html[data-theme="red"] {
  --arrowInput: white;
  --shoppingCartItem: rgb(100, 2, 2); 
  --devButtonColor: rgb(110, 5, 17);
  --navColorBackground: white;
  --sideMenucolor: rgb(95, 8, 8);
  --documentTextColor: white;
  --devButtonTextColor: white;
  --frontPageImage1900: url("../../../public/assets/images/landingPageImages/titleCard/redbackground.jpg");

  --documentTextColor: white;
  --landingPageBoxColor: rgb(183, 9, 29);
  --sidebarIcons: rgb(165, 8, 26);
  --sideMenucolor: rgb(165, 8, 26);
  --productSliderSection: rgb(110, 5, 17);
  --featuredCategoriesSection: rgb(110, 5, 17);
  --infoCommericalTextBackgroundColor: rgb(110, 5, 17);
  --footerBackgroundColor: black;
}
html[data-theme="rainbow"] {
  --devButtonColor: #360b54;
  --navColorBackground: rgb(5, 5, 49);
  --devButtonTextColor: white;
}

.hidden {
  display: none;
}
.lightTextP {
  font-size: 12px;
  color: grey;
}
.animationActiveProject {
  animation: fadein 3s 1;
  transform: translateY(20px);
  transition: transform 300ms linear;
  will-change: transform;
}

.app {
  overflow: hidden;
}
.animationLeft {
  animation: fadein 3s 1;
  transform: translatex(0px);
  transition: transform 300ms linear;
  will-change: transform;
  z-index: 2;
}

.animationZero {
  opacity: 0;
  transform: translatex(-600px);
  transition: transform 200ms linear;
  will-change: transform;
}

.animationZero2 {
  opacity: 0;
  transform: translatex(600px);
  transition: transform 200ms linear;
  will-change: transform;
  z-index: 2;
}

.animationUP {
  opacity: 0;
  transform: translateY(300px);
  transition: transform 200ms linear;
  will-change: transform;
}