.FeaturedStoriesSection {
  height: fit-content;
  .wrapper {
    @include FlexColumn;
    padding: 2.5% 5%;
    justify-content: space-between;

    h2 {
      margin: 0;
      margin-bottom: 20px;
      position: relative;
      font-size: 34px;
      z-index: 1;
    }

    .contentContainer {
      @include FlexRow;
      height: fit-content;
      justify-content: space-between;
      width: 100%;
    }

    a {
      @include FlexColumnCenter;
      color: white;
      margin-left: 20px;
      p{
        max-width: 500px;
      }
      .postCreationData {
        @include FlexRowCenter;
        align-self: flex-start;
        p{
          margin-right: 10px;
          max-width: 300px;
        }
      }

      img {
        height: 200px;
        min-height: 200px;
        width: 300px;
        min-width: 300px;
        
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .FeaturedStoriesSection {
    .wrapper {
      .contentContainer {
        flex-direction: column;
      }
    }
  }
}
