@import "./defaultGlobalStyles/setup.scss";
@import "./defaultGlobalStyles/styleGuide.scss";
@import "./defaultGlobalStyles/variables.scss";
@import "./navigation/navigation";
@import "./sideMenus/sideMenu";
@import "./overlays/overlays";
@import "./landingPageSass/landingPage.scss";
@import "./defaultGlobalStyles/defaultGlobalStyles.scss";
@import "./userInputPageSass/userInputPageSass.scss";
@import "./contentPageSass/contentPage.scss";
@import "./termsAndConditionsPageSass/terms&Conditions.scss";
@import "./defaultGlobalStyles/contactComponents/contact.scss";
@import "./checkoutPageSass/checkoutPage.scss";
@import "./survey/survey.scss";


input:placeholder-shown {
  outline: solid black 2px;
  background-color: #dad6d6;
}
.redText {
  color: red;
}
.redTextO {
  color: red;
  outline: solid red 2px;
}
.thinn {
  font-weight: 900;
  color: grey;
}
.Order1 {
    order: 1;
}

.Order2 {
    order: 2;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #acacac #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: auto;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  .lightTextP {
    font-size: 12px;
    color: grey;
    margin-top: 0;
}

.globalPrompt {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  background-color: white;
  border: solid black 2px;
  bottom: 2.5%;
  flex-direction: column;
  left: 50%;
  width: fit-content;
  max-width: 320px;
  min-width: 320px;
  height: 200px;
  position: fixed;
  top: 30%;
  transform: translateX(-50%);
  z-index: 99;

  .wrapper {
    width: 100%;
    padding: 20px;
    h3 {
      text-align: center;
    }
    p{
      line-height: 20px;
    }
  }

  button {
    align-self: flex-end;
    background-color: var(--sideMenucolor);
    border: none;
    cursor: pointer;
    height: 30px;
    position: absolute;
    width: 30px;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}