.contentPageSection {
  background-color: white;
  color: black;
  min-height: 100vh;

  .bannerContent {
    background-color: rgb(228, 224, 224);
    color: red;
    height: 10vh;
    min-height: 250px;
    width: 100%;

    .wrapperContent {
      @include Maxsize100;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0% 10%;
      padding-top: 60px;
    }

    h2 {
      font-size: clamp(2.125rem, 1.8547rem + 1.3514vw, 3.375rem);
      text-align: left;
      width: 100%;
      margin: 0;
    }
  }

  nav {
    background-color: black;
    height: 60px;
    width: 100%;
  }

  .wrapper {
    @include FlexRow;
    @include Maxsize100;
    padding: 5% 10% 10% 10%;

    aside {
      padding-right: 40px;
      position: relative;
      width: 20%;

      h3 {
        margin-bottom: 10px;
      }
      .subMenuButtons {
        font-weight: 500;
        margin-bottom: 10px;
      }

      .buttonList {
        @include FlexColumn;
        padding: 2% 0;
        width: 100%;

        button {
          background-color: transparent;
          border-bottom: none;
          border-left: none;
          border-right: none;
          border-top: solid 2px;
          cursor: pointer;
          display: flex;
          font-weight: 600;
          justify-content: space-between;
          padding: 5% 0;
          width: 100%;
        }
        input {
          font-size: 20px;
          margin-bottom: 5px;
        }
        label {
          font-size: 16px;
          margin-left: 10px;
          margin-bottom: 5px;
          text-transform: capitalize;
        }

        .textinput {
          margin-bottom: 20px;
        }
      }
    }

    .contentReturned {
      width: 100%;
    }

    .contentList {
      @include UlNormalize;
      align-items: baseline;
      display: grid;
      grid-gap: 10px 20px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
      width: 100%;

      .contentItem {
        background-color: transparent;
        font-size: 20px;
        height: 100%;
        opacity: 0;
        padding: 10px;
        text-align: center;
        transform: translatey(0px);
        transition: filter 0.5s ease, background-color 0.5s;
        transition: transform 300ms linear;
        width: 100%;

        .brandp {
          font-weight: 900;
        }

        &:hover {
          color: red;
          filter: contrast(0.7);
          transform: translatey(-10px);
          transition: transform 300ms linear;
        }

        p {
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          font-size: 16px;
          margin: 2px;
          overflow: hidden;
          text-transform: capitalize;
        }
        .imageContainer {
          border: solid black 2px;
          height: 175px;
          overflow: hidden;
          position: relative;
          width: 200px;

          &:hover img {
            transform: scale(1.1);
            transition: transform 300ms linear;
          }

          img {
            @include Maxsize100;
            transform: scale(1);
            transition: transform 300ms linear;
          }

          .bottomBar {
            background-color: black;
            bottom: 0;
            color: white;
            position: absolute;
            width: 100%;
          }
        }
      }

      .animationActiveProject {
        @include FlexColumnCenter;
        animation: fadein 2s 1;
        opacity: 1;
      }

      a {
        color: black;
      }
    }
  }
}

.scrollButtonContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;

  .buttonScrollUp {
    background-color: black;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    outline: solid goldenrod 3px;
    padding: 10px 20px;
    z-index: 99;
    &:hover {
      background-color: green;
      font-weight: 800;
    }
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@import "./individualPage.scss";
