.individualContentProductPage {
  background-color: white;
  color: black;
  min-height: 100vh;

  .wrapper {
    background-color: rgb(254, 254, 254);
    display: flex;
    justify-content: center;
    padding: 150px clamp(0.625rem, -1.9426rem + 12.8378vw, 12.5rem);

    .content {
      background-color: white;
      max-width: 1100px;
      width: 100%;
    }
    .disabledClass {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.65;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .uppperContent {
      @include FlexRow;
      margin-bottom: 10%;
      width: 100%;
   
      .imageContainer {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50%;
        .container:has(img) { background: white; }
        .container {
          align-items: center;
          cursor: pointer;
          display: flex;
          height: 300px;
          justify-content: center;
          outline: solid black 2px;
          padding: 10%;
          width: fit-content;
          img {
            height: 100%;
            transform: scale(1);
            transition: transform 300ms linear;
            width: auto;

            &:hover {
              transform: scale(1.15);
              transition: transform 300ms linear, color 2s;
            }
          }
        }
      }
      .productInfomation {
        width: 40%;
        p {
          margin: 0;
          margin-bottom: 10px;
        }

        .priceLikeAskQuestionContainer {
          @include FlexRowCenter;
          justify-content: space-between;
          width: 100%;
          p {
            margin-right: 20px;
          }

          .likesContainer {
            @include FlexRow;
            flex-grow: 1;
            justify-content: flex-end;
          }
        }
      }
    }
    .basket {
      @include FlexRow;
      color: white;
      transition: background-color 0.5s ease-in;
      &:hover button,
      &:hover select {
        background-color: lighten($color: #9b001a, $amount: 10%);
      }

      button {
        @include FlexColumnCenter;
        background-color: #9b001a;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 12px;
        height: 40px;
        justify-content: center;
        margin-left: 2px;
        padding-right: 30px;
        padding: 0 40px;
        transition: background-color 0.5s ease-in;
        &:hover {
          background-color: lighten($color: #9b001a, $amount: 10%);
        }
      }

      select {
        background-color: #9b001a;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border: none;
        color: white;
        cursor: pointer;
        height: 40px;
        padding-left: 30px;
        padding-right: 10px;
        transition: background-color 0.5s ease-in;

        &:hover {
          background-color: lighten($color: #9b001a, $amount: 10%);
        }

        option {
          background-color: white;
          color: black;
        }
      }
    }
    .starRatingContainer {
      @include FlexRowCenter;
    }
    .shipping {
      @include FlexColumn;
      background-color: rgb(234, 231, 231);
      margin-bottom: 30px;
      padding: 20px;
      width: 100%;

      .shippingInput {
        @include FlexRow;
        justify-content: space-between;
      }

      h4 {
        margin: 0;
        margin-bottom: 10px;
      }

      input {
        accent-color: red;
        font-size: 20px;
        margin-bottom: 15px;
      }

      label {
        font-size: 16px;
        margin-bottom: 5px;
        margin-left: 10px;
        text-transform: capitalize;
      }
    }

    .bottomContent {
      @include FlexColumn;
      background-color: black;
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;
      padding: 2.5%;
      width: 100%;

      .colorContainer {
        align-items: baseline;
        display: grid;
        grid-gap: 10px 20px;
        grid-template-columns: repeat(auto-fill, minmax(60px, 100px));
        justify-content: center;
        overflow: hidden;
        width: 100%;
      }

      .colourCircle {
        font-weight: 900;
        outline: solid 1px white;
        padding: 10px;
        text-transform: uppercase;
      }

      .colourItem {
        color: white;
        margin: 5px;
        padding: 0;
        text-align: center;
        width: 100px;

        .hexValues {
          text-transform: uppercase;
        }
      }
    }
    .highlightsContainer {
      border-top: solid lightgrey 1px;
      margin-top: 20px;
      padding: 20px 0;
      width: 100%;

      .highlightsList {
        @include FlexRow;

        .highlightItem {
          height: 50px;
          text-align: center;
          text-transform: capitalize;
          width: 100px;
        }

        img {
          height: 45px;
          width: 45px;
        }
      }
    }
    .productInfoCard {
      border-top: 1px lightgrey solid;
      margin-top: 5%;
      padding: 1% 0;

      .header {
        @include FlexRow;
        align-items: center;
        justify-content: space-between;
        button {
          align-items: center;
          background-color: transparent;
          border: none;
          cursor: pointer;
          display: flex;
          font-size: 30px;
          height: 45px;
          justify-content: center;
          width: 45px;
        }
        button:focus,
        button:hover {
          border: solid gray 1px;
        }
      }
      .contentCard {
        @include FlexRow;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.15s ease-out;
        .contentRight {
          width: 45%;
          @include FlexColumn;
          text-transform: capitalize;
        }
        .contentLeft {
          width: 55%;
          padding-left: 5%;
          outline: solid lightgrey;
        }
      }
      .addHeight {
        max-height: fit-content;
        transition: max-height 0.15s ease-out;
      }
    }
  }
}
@import "./ratingsAndReviews.scss";