.surveySection {
  background-color: black;
  border-bottom: 1px solid white;
  border-top: 1px white solid;
  color: white;
  padding: 10px;
  width: 100%;

  .wrapper {
    @include Maxsize100;
    text-align: center;

    p {
      cursor: pointer;
      margin: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.surveyFormSection {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  background-color: white;
  border: solid grey 2px;
  bottom: 2.5%;
  flex-direction: column;
  left: 50%;
  max-width: 520px;
  min-width: 320px;
  position: fixed;
  top: clamp(5rem, 4.0476rem + 4.7619vw, 10rem);
  transform: translateX(-50%);
  width: 100%;
  z-index: 99;

  .wrapper {
    padding: 2.5% 30px;
    text-align: center;
  }

  p {
    text-align: left;
    
  }

  .Questions {
    @include FlexColumn;
    margin-bottom: 20px;
    .buttonRating:not(first-of-type) {
      margin-left: 10px;
    }

    .flexRow {
      @include FlexRowCenter;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;

      .radioButton {
        label {
          margin:0 10px;
        }
      }
    }
    .ratingScale {
      @include FlexRowCenter;
      width: 100%;
      justify-content: center;
      flex-direction: row;
      transform: scaleX(-1);
    }

    .ratingScale .buttonRating:hover {
      background-color: goldenrod;
      color: black;
    }
    .ratingScale .buttonRating:hover ~ .buttonRating {
      background-color: goldenrod;
      color: black;
    }
    .buttonRating {
      background: black;
      color: white;
      height: 25px;
      transform: scaleX(-1);
      width: 25px;

      &:hover {
        background: goldenrod;
        color: black;
        cursor: pointer;
      }

      &:focus {
        background: goldenrod;
        color: black;
        cursor: pointer;
        outline: solid green 3px;
      }
    }

    select {
      background-color: white;
      border: none;
      outline: solid 1px black;
      padding: 5px 15px;
    }
   
  }
}
.formButton {
  cursor: pointer;
  height: 40px;
  width: 150px;

  &:hover {
    background-color: black;
    color: white;
  }
}

.formButton:not(last-of-type) {
  margin-left: 10px;
}