.shoppingCartSection {
  position: fixed;
  top: 60px;
  width: 45vw;
  z-index: 99;
  bottom: 0;
}


.shoppingCart {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  @include FlexColumnCenter;
  background-color: var(--sideMenucolor);
  border-left: solid grey 1px;
  border-right: solid grey 1px;
  border-top: solid grey 1px;
  bottom: 150px;
  max-width: 450px;
  min-width: 250px;
  position: fixed;
  right: 0;
  top: 60px;
  width: 45vw;
  z-index: 99;

  .closeShoppingCartButton {
    align-content: center;
    border: none;
    display: flex;
    font-weight: 800;
    justify-content: space-between;
    padding: 10px 10%;
    width: 100%;
  }

  ul {
    @include FlexColumn;
    @include UlNormalize;
    background-color: #ffffff;
    overflow-y: auto;
    transform: scaleX(-1);
    width: 100%;

    .emptycardH3 {
      text-align: center;
      transform: scaleX(-1);
      width: 100%;
    }
    li:nth-child(even) {
      background-color: white;
    }
    .quantityButton {
      background-color: transparent;
      border: lightgrey 1px solid;
      cursor: pointer;
      height: 60px;
      transform: scaleX(-1);
      &:hover,
      &:focus {
        background-color: #9b001a;
        color: white;
      }
    }
    .quantityButton:nth-child(even) {
      background-color: #dedcdc;
      &:hover,
      &:focus {
        background-color: #9b001a;
        color: white;
      }
    }
    li {
      @include FlexRowCenter;
      max-height: fit-content;
      min-height: 80px;
      outline: dotted 1px lightgrey;
      padding: 7px 5px;
      position: relative;
      transform: scaleX(-1);
      width: 100%;

      .cartItems {
        @include FlexRowCenter;
        align-items: center;
        padding: 0 30px;
        span {
          margin-left: 30px;
          color: rgb(3, 3, 255);
          text-decoration: underline;
        }

        img {
          margin-right: 20px;
        }

        .cartitemsDescription {
          h4 {
            text-overflow: hidden;
          }
        }
      }

      p,
      h4 {
        margin: 2px;
        font-size: 12px;
        letter-spacing: normal;
      }

      img {
        height: 40px;
        outline: solid black 2px;
        width: 40px;
      }

      button {
        background-color: transparent;
        border: none;
        height: fit-content;
        padding: 5px;
        position: absolute;
        right: 20px;
        top: 10px;
        width: fit-content;
      }
    }
  }
}
.deleteItemButton {
  font-weight: 900;
}
.shoppingCartBottom {
  background-color: rgb(225, 225, 225);
  border-left: 1px solid black;
  border-top: 1px solid black;
  bottom: 0;
  max-width: 450px;
  min-width: 250px;
  position: fixed;
  right: 0;
  height: 150px;
  padding-bottom: 40px;
  width: 45vw;
  z-index: 99;

  .wrapper {
    @include FlexColumnCenter;
    @include Maxsize100;
    justify-content: space-evenly;
    padding: 0 40px;

    .cartBottomButtons {
      @include FlexRowCenter;
      @include Maxsize100;
      justify-content: space-between;
    }
    .text {
      width: 100%;
    }

    .total {
      @include FlexRow;
      justify-content: space-between;
      width: 100%;
    }

    button {
      background-color: rgb(185, 184, 184);
      border: none;
      cursor: pointer;
      height: 40px;
      width: 175px;
      font-size: 12px;
      margin-right: 20px;
      padding: 5px;

      &:hover {
        background-color: darkgreen;
        color: white;
      }
    }

    a {
      align-items: center;
      background-color: black;
      color: white;
      display: flex;
      font-family: "Lato";
      font-size: 12px;
      font-weight: 500;
      height: 40px;
      justify-content: center;
      width: 175px;

      &:hover {
        background-color: white;
        color: black;
      }
    }
    .greyOutButton {
      background-color: #817f7f;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .shoppingCart {
    bottom: 150px;
    max-width: 320px;
    min-width: 320px;
  }

  .shoppingCartBottom {
    max-width: 320px;
    min-width: 320px;
  }
}
