.userSettingsMenu {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  @include FlexColumnCenter;
  background-color: var(--sideMenucolor);
  border-left: solid grey 1px;
  border-right: solid grey 1px;
  border-top: solid grey 1px;
  bottom: 0;
  max-width: 450px;
  min-width: 250px;
  position: fixed;
  right: 0;
  top: 60px;
  width: 45vw;
  z-index: 99;

  .closeShoppingCartButton {
    align-content: center;
    border: none;
    display: flex;
    font-weight: 800;
    justify-content: space-between;
    padding: 10px 10%;
    width: 100%;
  }

  ul {
    @include UlNormalize;
    overflow-y: auto;
    transform: scaleX(-1);
    width: 100%;

    li {
      @include FlexColumnCenter;
      background-color: white;
      cursor: pointer;
      font-family: "Lato";
      font-size: 24px;
      font-weight: 800;
      justify-content: center;
      min-height: 80px;
      outline: 1px solid black;
      padding: 5px 10px;
      text-align: center;
      transform: scaleX(-1);
      width: 100%;
      background: linear-gradient(to left, white 50%, slategrey 50%) right;
      background-size: 200%;
      transition: 0.5s ease-out;
      &:hover {
        background-position: left;
        color: white;
        cursor: pointer;
      }
    }
  }
}
