footer {
  background-color: var(--footerBackgroundColor);
  color: lightgrey;
  height: fit-content;
  min-height: 150px;
  width: 100%;

  .wrapper {
    @include FlexRow;
    @include Maxsize100;
    justify-content: space-between;
    padding: 10px 10%;

    h3 {
      color: white;
      margin: none;
      text-transform: none;

      .colorCredits {
        color: goldenrod;
      }
    }
    p {
      margin: 0;
      color: rgb(136, 132, 132);
    }

    .credits {
      @include FlexColumn;
      justify-content: center;
      text-align: left;
    }
    .newlettersignup {
      @include FlexColumnCenter;
      justify-content: center;
      text-align: left;

      input {
        background-color: white;
        height: 25px;
        min-width: 200px;
        padding-left: 10px;
      }

      button {
        border: none;
        color: black;
        cursor: pointer;
        height: 25px;
        margin-left: 10px;
        padding: 0 15px;
        background-image: linear-gradient(
          to right,
          darkgreen 40%,
          goldenrod 60%
        );
        background-size: 300% 100%;
        transition: background-position 0.5s;
        background-position: 100%;

        &:hover {
          color: white;
          background-position: 0%;
        }
      }

      h3,
      p {
        margin: 0;
        margin-bottom: 20px;
      }
    }

    aside {
      @include FlexRow;
      justify-content: center;
      padding: 2.5%;
      width: 20%;

      ul {
        @include FlexColumn;
        @include UlNormalize;
        border-left: lightgrey solid 1px;
        justify-content: center;
        padding: 0 25px;
        li {
          margin: 2px;
        }
        a {
          color: white;
          font-weight: 800;
          &:hover {
            color: red;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  footer {
    background-color: black;
    color: lightgrey;
    height: fit-content;
    min-height: 150px;
    text-align: center;
    width: 100%;

    .wrapper {
      @include FlexColumn;
      justify-content: center;
      align-content: center;
      .credits {
        text-align: center;
        padding: 20px 0;
        width: 100%;
        white-space: nowrap;
      }

      aside {
        display: none;
      }
    }
  }
}
